<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="http://users.du.se/~h15mavir/start.html">h15mavir</a> by Singh Development
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>